.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    display: inline-block;
    border: 10px solid #ccc;
    border-top: 10px solid #F26101;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loading .5s linear infinite;
    cursor: default;
}

.dashboard {
    display: flex;
}

.navbar {
    box-sizing: border-box;
    background: #F26101;
    min-width: 350px;
    margin-left: -280px;
    height: 100vh;
    transition: all .3s;
}

.main {
    width: calc(100% - 70px);
}

.flexBlock {
    display: flex;
    flex-direction: column;
}

.logo {
    font-weight: bold;
    margin-left: 10px;
    display: block;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
}

.ham {
    padding-top: 10px;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    background: #F26101;
    text-decoration: none;
    transition: .3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ham:hover {
    background: #304269;
}

.ham:hover .line {
    background: #F26101;
}

.menu {
    height: calc(100vh - 70px);
    padding: 0 0 20px 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.item > a {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 70px;
    color: #fff;
    font-size: 18px;
    transform: translateX(280px);
    transition: all .3s;
}

.item > a:hover {
    background: #ce5402;
}

.menu.open > .item > a {
    transform: translateX(0);
}

.active {
    background: #ce5402;
    font-weight: bold;
}

.icon {
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
    margin-right: 10px;
    font-size: 30px;
    color: #fff;
}

.text {
    color: #fff;
}

.line {
    display: block;
    height: 6px;
    width: 60%;
    background: #fff;
    border-radius: 10px;
    transform: translateY(-100%);
    transition: all .3s;
}

.line:nth-child(1) {
    width: 60%;
    transform: translateY(25%);
}

.line:nth-child(3) {
    width: 60%;
    transform: translateY(-200%);
}

.open {
    display: block;
}

.navbar.open {
    margin-left: 0;
}

.line:nth-child(1).open {
    width: 30%;
    transform: translateY(100%) rotate(-40deg) translate(-12px, -6px);
}

.line:nth-child(3).open {
    width: 30%;
    transform: translateY(-300%) rotate(40deg) translate(-12px, 6px);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disabled {
    cursor: default;
    pointer-events: none;        
    text-decoration: none;
    color: grey;
}

@media screen and (max-width: 500px) {
    .dashboard {
        flex-direction: column-reverse;
    }
    .navbar {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        height: 70px;
    }
    
    .main {
        width: 100%;
        height: calc(100vh - 70px);
    }
    .title {
        display: none;
    }
    .menu {
        width: 100%;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        overflow: hidden;
    }
    .item {
        width: 33.33%;
        height: 70px;
    }
    .item > a {
        display: grid;
        place-items: center;
        transform: translateX(0);
    }
    .text {
        display: none;
    }
    .icon {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 360px) {
    .icon {
        font-size: 30px;
    }
}