@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    display: inline-block;
    border: 10px solid #ccc;
    border-top: 10px solid #F26101;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loading .5s linear infinite;
    cursor: default;
}

.heading {
    font-size: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading > a {
    margin-left: 10px;
    display: inline-flex;
    align-items: flex-end;
}

.create {
    color: #304269;
}

.wrapper {
    overflow-x: scroll;
    margin-bottom: 30px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table > caption {
    text-align: left;
    font-size: 24px;
    margin-bottom: 30px;
}

.table > caption > a {
    display: inline-flex;
    align-items: center;
    background: #D9E8F5;
    padding: 10px 20px;
    border-radius: 10px;
    transform: translateY(5px);
    margin-left: 10px;
}

.date {
    display: inline-block;
}

.deleteButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.label {
    width: 100%;
    text-align: right;
    font-size: 20px;
}

.span {
    font-weight: bold;
}