@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    display: inline-block;
    border: 10px solid #ccc;
    border-top: 10px solid #F26101;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loading .5s linear infinite;
    cursor: default;
}

.heading {
    font-size: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create {
    color: #304269;
}

.wrapper {
    overflow-x: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.heading > a {
    display: inline-flex;
    align-items: center;
    background: #D9E8F5;
    padding: 10px 20px;
    border-radius: 10px;
    transform: translateY(5px);
    margin-left: 10px;
}

.date {
    display: inline-block;
}

.deleteButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.label {
    width: 100%;
    text-align: right;
    font-size: 20px;
}

.span {
    font-weight: bold;
}

.select {
    outline: none;
    -webkit-appearance: none;
    -webkit-border: none;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #eee;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 5px 0px#ccc;
    width: 100%;
    padding: 15px 40px 15px 15px;
    color: #304269;
    font-size: 16px;
}

.icon {
    position: absolute;
    top: 50%;
    right: 15px;
    color: #304269;
    transform: rotate(90deg) translateX(-50%);
}

.relative {
    position: relative;
}