@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
	font-family: 'Rubik', sans-serif;
    user-select: none;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    -webkit-user-select: text !important;
    user-select: text !important;
}

textarea {
    -webkit-user-select: text !important;
    user-select: text !important;
}

.pagination {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    cursor: pointer;
    margin: 30px 0;
}
  
.pagination a {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D9E8F5;
    color: #000;
    margin: 5px;
}
  
.pagination__link {
    font-weight: bold;
}
  
.pagination__link--active a {
    color: #000;
    background: #D9E8F5;
}
  
.pagination__link--disabled a {
    color: #ccc;
    border: 1px solid rgb(198, 197, 202);
}

thead > tr > th {
    box-sizing: border-box;
    padding: 20px 10px;
}

thead > tr > th:first-child {
    border-top-left-radius: 15px;
}

thead > tr > th:last-child {
    border-top-right-radius: 15px;
}

th {
    background: #F26101;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background: #eee;
}