@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    display: inline-block;
    border: 10px solid #ccc;
    border-top: 10px solid #F26101;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loading .5s linear infinite;
    cursor: default;
}

.heading {
    margin-bottom: 30px;
    font-size: 30px;
}

.form {
    display: none;
    padding-top: 30px;
}

.form.active {
    display: block;
}

.tabs {
    display: flex;
    background: #304269;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tab {
    width: 50%;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tab.active {
    color: #fff;
    border-bottom: 5px solid #F26101;
}

@media screen and (max-width: 430px) {
    .tabs {
        flex-wrap: wrap;
    }
    .tab {
        width: 100%;
    }
}