.topline {
    height: 70px;
    box-shadow: 5px 0px 10px 0px #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.item {
    display: flex;
    list-style: none;
}

.link {
    border-radius: 5px;
    font-weight: bold;
    display: inline-grid;
    place-items: center;
}

.profile {
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #40328A;
}

.icon {
    font-size: 40px;
    color: #40328A;
}

.account {
    font-size: 40px;
    margin-right: 5px;
    color: #40328A;
}

.message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #40328A;
    padding: 70px 60px;
    text-align: center;
    border-radius: 10px;
    width: 400px;
    z-index: 11;
    /* clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */
}

.active {
    display: block;
}

.text {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.submit {
    font-weight: bold;
    display: inline-block;
    background: #EF8C3B;
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    transition: .3s;
    margin-right: 10px;
}

.submit:nth-child(3) {
    margin-right: 0;
}

.submit:hover {
    background: #dd8237;
}

@media screen and (max-width: 500px) {
    .message {
        width: 65%;
    }
}

@media screen and (max-width: 360px) {
    .text {
        font-size: 18px;
    }
    .message {
        padding: 60px 40px;
    }
    .submit {
        padding: 13px 25px;
    }
}